{% extends "encyclopedia/layout.html" %} 
{% block title %}
    Encyclopedia
{%endblock %} 
{% block body %}
    <h1>Edit Page</h1>
    <form action="{% url 'save_edit' %}" method="post">
        {% csrf_token %}
        <label>New Title:</label>
        <input type="text" name="title" placeholder="Enter a title" value="{{title}}"/>
        <br/>
        <label>Markdown Content:</label>
        <br/>
        <textarea name="content" style="height: 50vh">{{content}}</textarea>
        <br/>
        <button>Edit</button>
    </form>
{% endblock %}
